<?xml version="1.0"?>

<config>
    <modules>
        <SevenLike_MailUp>
            <version>2.3.1</version>
        </SevenLike_MailUp>
    </modules>

    <global>
        <models>
            <mailup>
                <class>SevenLike_MailUp_Model</class>
            </mailup>
            <!-- Override Subscriber so we can disable Notifiactions -->
            <newsletter>
				<rewrite>
					<subscriber>SevenLike_MailUp_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
            
            <!--<mailup>
                <class>SevenLike_MailUp_Model</class>
                <resourceModel>mailup_mysql4</resourceModel>
            </mailup>
            <mailup_mysql4>
                <class>SevenLike_MailUp_Model_Mysql4</class>
                <entities>
                    <job>
                        <table>mailup_sync_jobs</table>
                    </job>
                </entities>
            </mailup_mysql4>-->
            
        </models>
        <blocks>
            <mailup>
                <class>SevenLike_MailUp_Block</class>
            </mailup>
        </blocks>
        <helpers>
            <mailup>
                <class>SevenLike_MailUp_Helper</class>
            </mailup>
        </helpers>
        <resources>
            <mailup_setup>
                <setup>
                    <module>SevenLike_MailUp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mailup_setup>
            <mailup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mailup_write>
            <mailup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mailup_read>
        </resources>
		<events>
			<newsletter_subscriber_save_after>
				<observers>
					<mailupinviautente_observer>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>inviaUtente</method>
					</mailupinviautente_observer>
				</observers>
			</newsletter_subscriber_save_after>
			<customer_customer_authenticated>
				<observers>
					<mailupleggiutente_observer>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>leggiUtente</method>
					</mailupleggiutente_observer>
				</observers>
			</customer_customer_authenticated>
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<mailupconfigsave_observer>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>saveSystemConfig</method>
					</mailupconfigsave_observer>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
			<admin_session_user_login_success>
				<observers>
					<mailupconfigtest_observer>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>configCheck</method>
					</mailupconfigtest_observer>
				</observers>
			</admin_session_user_login_success>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
				<observers>
					<mailup_subscribe_during_checkout>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>subscribeDuringCheckout</method>
					</mailup_subscribe_during_checkout>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
			<customer_save_after>
				<observers>
					<mailup_customer_save_after>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>prepareCustomerForDataSync</method>
					</mailup_customer_save_after>
				</observers>
			</customer_save_after>
			<sales_order_save_after>
				<observers>
					<mailup_sales_order_save_after>
						<type>singleton</type>
						<class>SevenLike_MailUp_Model_Observer</class>
						<method>prepareOrderForDataSync</method>
					</mailup_sales_order_save_after>
				</observers>
			</sales_order_save_after>
		</events>
    </global>

    <admin>
        <routers>
            <mailup>
                <use>admin</use>
                <args>
                    <module>SevenLike_MailUp</module>
                    <frontName>mailup</frontName>
                </args>
            </mailup>
        </routers>
    </admin>

    <default>
        <mailup_newsletter>
            <mailup>
                <model>mailup/ws</model>
                <disablenewslettersuccesses>1</disablenewslettersuccesses>
            </mailup>
        </mailup_newsletter>
    </default>

    <adminhtml>
        <menu>
            <newsletter>
                <children>
                    <mailup translate="title">
                        <title>MailUp</title>
                        <children>
	                        <mailup_configuration translate="title">
		                        <title><![CDATA[Settings & Field Mapping]]></title>
		                        <action>mailup/adminhtml_configuration</action>
		                        <sort_order>100</sort_order>
			                </mailup_configuration>
                            <mailup_filters translate="title">
                                <title>Filters</title>
                                <action>mailup/adminhtml_filter</action>
                                <sort_order>200</sort_order>
                            </mailup_filters>
                        </children>
                    </mailup>
                </children>
            </newsletter>
        </menu>
        <acl>
            <resources>
				<all>
					<title>Allow everything</title>
				</all>
                <admin>
                    <children>
                        <newsletter>
                            <children>
								<mailup>
									<title>Mailup</title>
									<children>
										<mailup_configuration>
											<title>Mailup Configuration</title>
										</mailup_configuration>
										<mailup_filters>
											<title>Mailup Filters</title>
										</mailup_filters>
										<mailup_fieldsmapping>
											<title>Mailup Fields Mapping</title>
										</mailup_fieldsmapping>
										<mailup_viewdatatransferlog>
											<title>View data transfer log</title>
										</mailup_viewdatatransferlog>
									</children>
								</mailup>
                            </children>
                        </newsletter>

                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailup_newsletter>
                                            <title>Mailup Newsletter</title>
                                        </mailup_newsletter>
                                    </children>
                                </config>
                            </children>
                        </system>
                        
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mailup>
                    <file>mailup.xml</file>
                </mailup>
            </updates>
        </layout>
        <translate>
            <modules>
                <mailup>
                    <files>
                        <default>SevenLike_MailUp.csv</default>
                    </files>
                </mailup>
            </modules>
        </translate>
    </adminhtml>
    
	<frontend>
        
        <!--<routers>
            <mailup>
                <use>standard</use>
                <args>
                    <module>SevenLike_MailUp</module>
                    <frontName>mailup</frontName>
                </args>
            </mailup>
        </routers>-->
        
		<translate>
			<modules>
				<mailup>
					<files>
						<default>SevenLike_MailUp.csv</default>
					</files>
				</mailup>
			</modules>
		</translate>
        
		<layout>
			<updates>
				<mailup>
					<file>mailup.xml</file>
				</mailup>
			</updates>
		</layout>
	</frontend>

    <crontab>
        <jobs>
            <sevenlike_mailup>
                <run><model>mailup/Cron::run</model></run>
            </sevenlike_mailup>
			<mailup_connectionproblemsredo>
				<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
				<run><model>mailup/Cron::resendConnectionErrors</model></run>
			</mailup_connectionproblemsredo>
        </jobs>
    </crontab>
</config>
